@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,900;1,900&display=swap');


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    height: 100vh;
    margin: 0px;
    font-family: 'Roboto';
}

button {
    background-color: #3882F6;
    border: 0px;
    border-radius: 4px;
    width: 130px;
    height: 40px;
    color:#E5E7EB;
    font-family: 'Roboto';
    font-weight: bold;
}

h1 {
    font-size: 42px;
    margin: 0px;
    color: #E5E7EB;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div {
    padding: 40px;
    display: block;
}

.header {
    display: flex;
    background-color: #1F2937;
    align-items: center;
}

.header div a{
    color: #E5E7EB;
    margin: 10px;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    padding: 15px 10px 10px 0px;
    margin-left: 220px;
}

.hero{
    background-color: #1F2937;
    padding: 100px 100px 100px 100px;
    display: flex;
    justify-content: center;
    width: auto;
    gap: 100px;
}

.subtext{
    font-size: 18px;
    color: #F9FAF8;

}

.placeholder {
    width: 450px;
    height: 240px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-placeholder {
    display: flex;
    width: 450px;
    flex-direction: column;
    justify-content: space-between;

}

.random-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 50px 0px;
}

.illustration-text-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.illustration-text-container {
    display: flex;
    justify-content: space-evenly;

}

.illustration {
    width: 170px;
    height: 170px;
    border: 2px solid #3882F6;
    border-radius: 4px;
}

.subtext-illustration {
    color: #969797;
    text-align: center;
    width: 170px;
    margin: 0px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    padding: 100px 300px 100px 300px;
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    color: #1F2937;
}

.author {
    text-align: end;
    font-weight: bold;
}

.cta-container{
    padding: 100px 300px 100px 300px;
}

.cta {
    background-color: #3882F6;
    border-radius: 5px;
    padding: 50px 100px 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cta-text {
    color: #E5E7EB;
    font-size: 20px;
    font-weight: 500;
}

.cta button{
    border: #E5E7EB;
    border-radius: 4px;
    border-style: solid;
}

.cta p {
    color: #E5E7EB;
    font-weight: 200;
    margin: 0px;
}

#push-left {
    margin-left: auto;
}

#push-right {
    margin-right: 210px;
}